<div class="index-pages-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-5 col-md-1 dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          並び替え
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li> <%= sortable "created_at", "作成日時" %> </li>
          <li> <%= sortable "title", "タイトル" %> </li>
          <li> <%= sortable "priority", "優先度" %> </li>
          <li> <%= sortable "status", "ステータス" %> </li>
          <li> <%= sortable "schedule_date", "作業終了予定日" %> </li>
          <li> <%= sortable "start_date", "作業開始日" %> </li>
          <li> <%= sortable "end_date", "作業終了日" %> </li>
        </ul>
      </div>
      <div class="col-md-2">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          検索
          <span class="caret"></span>
        </button>
        <div class="dropdown-menu">
          <div class="row">
            <%= form_tag pages_path, method: :get do %>
              <div class="col-md-offset-1 col-md-10 form-group">
              </div>
              <div class="col-md-offset-1 col-md-10 form-group">
                <%= label_tag :タイトル： %>
                <%= text_field_tag :title, '', class: 'form-control', placeholder: 'タイトル'%>
              </div>
              <div class="col-md-offset-1 col-md-10 form-group">
                <%= label_tag :優先度： %>
                <%= select_tag :priority, options_for_select(Topic.priorities.map {|k, v| [Topic.priorities_i18n[k], v]}), :prompt => "未選択", class: 'form-control' %>
              </div>
              <div class="col-md-offset-1 col-md-10 form-group">
                <%= label_tag :ステータス： %>
                <%= select_tag :status, options_for_select(Topic.statuses.map {|k, v| [Topic.statuses_i18n[k], v]}), :prompt => "未選択", class: 'form-control' %>
              </div>
              <div class="col-md-offset-1 col-md-10 form-group">
                <%= label_tag :終了予定日： %>
                <%= date_field_tag :schedule_date, '', class: 'form-control' %>
              </div>
              <div class="col-md-offset-1 col-md-10 form-group">
                <%= label_tag :作業開始日： %>
                <%= date_field_tag :start_date, '', class: 'form-control' %>
              </div>
              <div class="col-md-offset-1 col-md-10 form-group">
                <%= label_tag :作業終了日： %>
                <%= date_field_tag :end_date, '', class: 'form-control' %>
              </div>
              <div class="col-md-offset-1 col-md-10 form-group">
                <%= label_tag :作成日： %>
                <%= date_field_tag :created_at, '', class: 'form-control' %>
              </div>
              <div class="col-md-offset-1 col-md-10 form-group">
                <%= submit_tag '検索', class: 'btn btn-default form-control' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-hover table-responsive">
      <tr>
        <th>タイトル</th>
        <th>優先度</th>
        <th>ステータス</th>
        <th>作業終了予定日</th>
        <th>作業開始日</th>
        <th>作業終了日</th>
        <th></th>
      </tr>
      <% @topics.each do |topic| %>
        <tr>
          <td>
            <div class="cell">
              <%= link_to edit_topic_path(id: topic.id) do %>
                <%= topic.title %>
              <% end %>
            </div>
          </td>
          <td>
            <div class="cell">
              <%= link_to edit_topic_path(id: topic.id) do %>
                <%= topic.priority_i18n %>
              <% end %>
            </div>
          </td>
          <td>
            <div class="cell">
              <%= link_to edit_topic_path(id: topic.id) do %>
                <%= topic.status_i18n %>
              <% end %>
            </div>
          </td>
          <td>
            <div class="cell">
              <% if topic.schedule_date != Date.new(2018, 12, 24) %>
                <%= link_to edit_topic_path(id: topic.id) do %>
                  <%= topic.schedule_date %>
                <% end %>
              <% end %>
            </div>
          </td>
          <td>
            <div class="cell">
              <% if topic.start_date != Date.new(2018, 12, 24) %>
                <%= link_to edit_topic_path(id: topic.id) do %>
                  <%= topic.start_date %>
                <% end %>
              <% end %>
            </div>
          </td>
          <td>
            <div class="cell">
              <% if topic.end_date != Date.new(2018, 12, 24) %>
                <%= link_to edit_topic_path(id: topic.id) do %>
                  <%= topic.end_date %>
                <% end %>
              <% end %>
            </div>
          </td>
          <td>
            <%= link_to start_end_path(id: topic.id), method: :update do %>
              <% if topic.no_touch? && logged_in? %>
                <button type="button" name="button" class="btn btn-default btn-xs">開始</button>
              <% elsif topic.processing? && logged_in? %>
                <button type="button" name="button" class="btn btn-default btn-xs">終了</button>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script>
$(function() {
  $('.dropdown-toggle').dropdown();
  $('.dropdown-menu select, .dropdown-menu label').click(function(e) {
    e.stopPropagation();
  });
});
</script>
